.column {
  float: left;
  width: 50%;
}

table,
th,
td {
  border-collapse: collapse;
}

th,
td {
  font-size: 17px;
  padding: 10px;
}

.enabled:hover {
  cursor: pointer;
  background-color: SeaGreen;
  color: white;
}

.past {
  color: silver;
}

.today {
  vertical-align: super;
  color: SeaGreen;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#offers {
  border-collapse: collapse;
  width: fit-content;
}

#offers td,
#offers th {
  border: 1px solid #ddd;
  padding: 16px;
}

#offers tr:hover {
  background-color: #ddd;
}

#offers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.deal {
  background-color: gold;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.checkin {
  border: 1px solid rgb(214, 214, 214);
  border-collapse: collapse;
  margin-left: 8px;
  border-left-width: 0;
  box-shadow: -8px 0 0 #00a680;
  height: 42px;
  width: 166px;
}

.checkout {
  border: 1px solid rgb(214, 214, 214);
  border-collapse: collapse;
  margin-left: 8px;
  border-left-width: 0;
  box-shadow: -8px 0 0 #ef6945;
  height: 42px;
  width: 166px;
}

.guests {
  border: 1px solid rgb(214, 214, 214);
  border-collapse: collapse;
  height: 42px;
  width: 350px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border: 1px solid rgb(214, 214, 214);
}

.tooltiptext {
  width: 800px;
  background-color: #fff;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /*  position: absolute;*/
  z-index: 1;
  bottom: 125%;
  left: 220px;
  margin-left: -60px;
  opacity: 1;
  transition: opacity 0.3s;
}